# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.x'

    #Caches build artifacts and modules
    - name: go mod package cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: go vet
      run: go vet ./...

    - name: Install lint/vuln tools
      run: |
        go install honnef.co/go/tools/cmd/staticcheck@latest
        go install golang.org/x/vuln/cmd/govulncheck@latest

    - name: Staticcheck
      run: staticcheck ./...

    - name: Vulncheck
      run: govulncheck ./...
